
<div id="wrapper" class="container">
	<div class="explantion">
		<p><span class="bigger">Wait!</span>   Did you remember to rename the <strong>_default</strong> files?  You should do it file by file to get a feel for the structure of the project.</p>
	</div>

	<div class="exclamation">
		<h1><%= _default %></h1>
		<h6>It worked</h6>
	</div>
</div>
